<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Multiprix</title>
</head>

<body>
    {% for provider in data %}
        <h1>{{provider}}</h1>
        {% raw (data[provider]) %}
    {% end for %}
</body>

</html>